<!DOCTYPE html>
<html>
<head>
  <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
  <meta name='Author' content='xyz' />
</head>
<body>
  <h1>gratulacje, działa!</h1>
  <p>
    strona służy wyłącznie do weryfikacji połączenia i możliwości zalogowania się
  </p>
  <pre>
    AUTH_TYPE = {{ auth_type }}
    --
    AUTH_USER = {{ auth_user }}
    LOGON_USER = {{ logon_user }}
    REMOTE_USER = {{ remote_user }}
    --
    USERDOMAIN = {{ user_domain }}
    USERNAME = {{ user_name }}
  </pre>
</body>
</html>